<%= turbo_stream.append :posts do %>
  <% @posts.each do |post| %>
    <div class="post-result">
      <%= render post %>
    </div>
  <% end %>
<% end %>

<% if @pagy.next.present? %>
  <%= turbo_stream.replace :pagination do %>
    <%= turbo_frame_tag :pagination,
                        class: "pagination-sentinel",
                        loading: :lazy,
                        src: posts_path(format: :turbo_stream, page: @pagy.next, q: params[:q]&.to_unsafe_h) %>
  <% end %>
<% end %>
